<?xml version="1.0" encoding="UTF-8"?><web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jsp_blog</display-name>
  <welcome-file-list>
     <!-- 주소상에 도메이나 파일명을 입력했을 때 자동으로 실행되는 파일 목록,
          가장 먼저 명시된 파일이 실행되고 없을시 다음 파일이 실행됨. -->
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <session-config> 
    <session-timeout>30</session-timeout> <!-- 30분 -->
  </session-config> 
   
  <!-- ************************************************************** --> 
  <!-- 파일 다운로드 서블릿  
  접속 주소가 http://127.0.0.1:8000/download로 시작하면 
  자동으로 utility.FileDownload 클래스가 작동되게 되어 있습니다. 
  , 프로젝트 전체에서 사용가능 
  --> 
  <servlet><!-- 톰캣에 의해서 서블릿 이름과 서블릿 클래스 선언 --> 
  
    <servlet-name>FileDownload</servlet-name> <!--     서블릿 이름은 수정가능 -->
    <servlet-class>utility.FileDownload</servlet-class> 
     
  </servlet>

  <servlet-mapping><!-- URL상으로 접근해야하는 경로명 (브라우저에 요청) --> 
      
    <servlet-name>FileDownload</servlet-name> 
    <url-pattern>/download</url-pattern> 
  </servlet-mapping>   
  <!-- ************************************************************** -->
    <filter>
        <filter-name>AdminLoginCheckFilter</filter-name>
        <filter-class>utility.AdminLoginCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminLoginCheckFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>  
</web-app>